@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>
<blockquote>
    <p> Última atualização: 20 de agosto de 2021 </p>
    <p> Esta Política de Privacidade descreve nossas políticas e procedimentos sobre a coleta, uso e divulgação de Suas informações quando Você usa o Serviço e informa sobre Seus direitos de privacidade e como a lei o protege. </p>
    <p>
        Usamos seus dados pessoais para fornecer e melhorar o serviço. Ao usar o Serviço, você concorda com a coleta e uso de informações de acordo com esta Política de Privacidade. Esta Política de Privacidade foi criada com a ajuda do <a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank"> Gerador de Política de Privacidade </a>.
    </p>
    <h1> Interpretação e definições </h1>
    <p> As palavras cuja letra inicial é maiúscula têm significados definidos nas seguintes condições. As seguintes definições devem ter o mesmo significado, independentemente de aparecerem no singular ou no plural. </p>
</blockquote>
<hr />
<blockquote>
    <h3> Dados de uso </h3>
    <p> Os dados de uso são coletados automaticamente ao usar o serviço. </p>
    <p> Os dados de uso podem incluir informações como o endereço de protocolo da Internet do seu dispositivo (por exemplo, endereço IP), tipo de navegador, versão do navegador, as páginas do nosso serviço que você visita, a hora e data da sua visita, o tempo gasto nessas páginas , identificadores exclusivos de dispositivos e outros dados de diagnóstico. </p>
    <p> Quando você acessa o Serviço por ou através de um aparelho celular, podemos coletar certas informações automaticamente, incluindo, mas não se limitando a, o tipo de aparelho celular que você usa, a ID exclusiva do seu aparelho celular, o endereço IP do seu aparelho celular , Seu sistema operacional móvel, o tipo de navegador de Internet móvel que você usa, identificadores exclusivos de dispositivo e outros dados de diagnóstico. </p>
    <p> Também podemos coletar informações que o seu navegador envia sempre que você visita nosso serviço ou quando você acessa o serviço por meio de um dispositivo móvel. </p>
</blockquote>